In [9]:
import pandas as pd
pd.plotting.register_matplotlib_converters()
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
pd.set_option('display.max_rows',4)
print("Setup Complete")

Setup Complete

In [10]:
fifa = pd.read_csv('./data/fifa.csv', index_col='Date',parse_dates=True)
fifa

             ARG  BRA   ESP   FRA  GER   ITA
Date
1993-08-08   5.0  8.0  13.0  12.0  1.0   2.0
1993-09-23  12.0  1.0  14.0   7.0  5.0   2.0
...          ...  ...   ...   ...  ...   ...
2018-05-17   5.0  2.0   8.0   7.0  1.0  20.0
2018-06-07   5.0  2.0  10.0   7.0  1.0  19.0

[286 rows x 6 columns]